<div class="hero-mancer chat-release">
  <div class="release-header">
    <i class="fa-solid fa-egg"></i>
    <strong>{{localize "HEROMANCER.Release.Title" version=version}}</strong>
  </div>

  <div class="release-body">
    <p class="release-patreon">
      <strong><a href="{{patreonUrl}}" target="_blank" rel="noopener"><i class="fa-brands fa-patreon"></i> Now on
          Patreon!</a></strong>
    </p>

    <h4>Bug Fixes</h4>
    <ul>
      <li>Advancement picks that let you choose any item now open a compendium browser instead of showing no options.
      </li>
      <li>Point Buy ability scores now start at the configured default value instead of blank.</li>
      <li>Race choices that require your own race, such as the Dragonborn breath weapon, now list their options instead
        of an error.</li>
      <li>Tiered heritage traits now reveal their improved version as soon as you pick the base option.</li>
    </ul>
  </div>

  <a class="open-note" href="{{repoUrl}}" target="_blank" rel="noopener">
    <i class="fa-solid fa-arrow-up-right-from-square"></i> {{localize "HEROMANCER.Release.ReleaseNotes"}}
  </a>
</div>
