<div class="hero-mancer chat-release">
  <div class="release-header">
    <i class="fa-solid fa-egg"></i>
    <strong>{{localize "HEROMANCER.Release.Title" version=version}}</strong>
  </div>

  <div class="release-body">
    <p class="release-patreon">
      <strong><a href="{{patreonUrl}}" target="_blank" rel="noopener"><i class="fa-brands fa-patreon"></i> Now on
          Patreon!</a></strong>
    </p>

    <h4>New Features</h4>
    <ul>
      <li>Choose your character's size during creation when your species offers more than one.</li>
      <li>GMs can now disable custom backgrounds, leaving only published ones in the picker.</li>
    </ul>

    <h4>Bug Fixes</h4>
    <ul>
      <li>Feature choices like a Druid's Primal Order now apply correctly on dnd5e 5.x.</li>
    </ul>

    <h4>Changes</h4>
    <ul>
      <li>Updated the Brazilian Portuguese translation.</li>
    </ul>
  </div>

  <a class="open-note" href="{{repoUrl}}" target="_blank" rel="noopener">
    <i class="fa-solid fa-arrow-up-right-from-square"></i> {{localize "HEROMANCER.Release.ReleaseNotes"}}
  </a>
</div>
