{{!-- Equipment Selection Tab --}}
<div class='tab {{tabs.equipment.cssClass}}' data-tab='equipment' data-group='hero-mancer-tabs' role="tabpanel"
  id="equipment-panel" aria-labelledby="tab-equipment">
  {{!-- Dynamic Equipment Selection Container --}}
  <div id='equipment-container' class='equipment-container' aria-live="polite">
    {{!-- This section will be populated by EquipmentParser.generateEquipmentSelectionUI() --}}
  </div>
</div>
