<footer class="hm-background-builder-footer">
  <button type="button" data-action="create" class="hm-primary">
    <i class="fa-solid fa-check" aria-hidden="true"></i> {{localize 'HEROMANCER.App.Identity.CustomBackground.Create'}}
  </button>
  <button type="button" data-action="cancel">
    <i class="fa-solid fa-xmark" aria-hidden="true"></i> {{localize 'HEROMANCER.App.Identity.CustomBackground.Cancel'}}
  </button>
</footer>
