<label>
  <i class="fa-solid fa-egg fa-2x" aria-label="Hero Mancer"></i>
  <span>{{localize 'HEROMANCER.App.Launch.DialogLabel'}}</span>
  <input type="radio" name="type" value="hm-launch" required>
</label>
