<li class="hm-sp-focus-row" data-uuid="{{uuid}}">
  <img src="{{img}}" alt="">
  <span class="hm-sp-focus-name {{#if missing}}hm-sp-focus-missing{{/if}}">{{name}}</span>
  <button type="button" class="hm-icon-btn" data-action="removeFocusItem" data-tooltip
    aria-label="{{localize 'HEROMANCER.Settings.SettingsPanel.CustomFocusItems.RemoveTooltip'}}">
    <i class="fa-solid fa-trash" aria-hidden="true"></i>
  </button>
</li>
