<footer class="hm-dialog-footer">
  <button type="button" class="hm-sp-reset" data-action="resetTab">
    <i class="fa-solid fa-rotate-left" aria-hidden="true"></i> {{localize "HEROMANCER.Settings.SettingsPanel.ResetTab"}}
  </button>
  <button type="submit" class="hm-primary">
    <i class="fa-solid fa-floppy-disk" aria-hidden="true"></i> {{localize "HEROMANCER.Settings.SettingsPanel.Save"}}
  </button>
</footer>
